# Виртуальное окружение (внутри контейнера будет свое)
.venv/
venv/
env/

# Кэш Python и тестов
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Локальные скрытые папки Git и IDE
.git/
.gitignore
.vscode/
.idea/

